{% extends "tabs-base.html" %}

{% block tabs %}
    {{ make_tab('detail', 'fa-info-circle', url('contest_view', contest.key), _('Info')) }}
    {% if contest.can_see_full_submission_list(request.user) %}
        {{ make_tab('stats', 'fa-pie-chart', url('contest_stats', contest.key), _('Statistics')) }}
    {% endif %}

    {% if can_edit and contest_has_rooms %}
        {{ make_tab('devices', 'fa-desktop', url('contest_device', contest.key), _('Devices')) }}
    {% endif %}

    {% if contest.start_time <= now or perms.judge.see_private_contest %}
        {% if contest.can_see_own_scoreboard(request.user) %}
            {{ make_tab('ranking', 'fa-bar-chart', url('contest_ranking', contest.key), _('Rankings')) }}
            {% if contest.csv_ranking %}
                {{ make_tab('official_ranking', 'fa-bar-chart', url('contest_official_ranking', contest.key), _('Official Rankings')) }}
            {% endif %}
            {% if request.user.is_authenticated %}
                {{ make_tab('participation', 'fa-users', url('contest_participation_own', contest.key), _('Participation')) }}
            {% endif %}
        {% else %}
            {{ make_tab('ranking', 'fa-bar-chart', None, _('Hidden Rankings')) }}
        {% endif %}
        {{ make_tab('submissions', 'fa-bar-chart', url('contest_all_submissions', contest.key), _('Submissions')) }}
    {% endif %}
    {% if can_edit %}
        {% if perms.judge.moss_contest and has_moss_api_key %}
            {{ make_tab('moss', 'fa-gavel', url('contest_moss', contest.key), _('MOSS')) }}
        {% endif %}
        {{ make_tab('edit', 'fa-edit', url('contest_edit', contest.key), _('Edit')) }}
    {% endif %}
    {% if perms.judge.clone_contest and can_edit %}
        {{ make_tab('clone', 'fa-copy', url('contest_clone', contest.key), _('Clone')) }}
    {% endif %}

    {% if request.user.is_authenticated %}
        {% if contest.can_join or contest.require_registration or is_editor or is_tester %}
            {% if contest.ended %}
                {# Allow users to leave the virtual contest #}
                {% if is_in_contest %}
                    {% if contest.is_exam and request.is_seb and not request.user.profile.current_contest.finished_at %}
                    <form action="{{ url('end_exam', contest.key) }}" method="post" style="background: #cc0202; display: none"
                          class="contest-join-pseudotab unselectable button">
                        {% csrf_token %}
                        <input type="submit" class="end-exam" style="padding: 6px 0px;" onmouseover="this.style.background='none'"
                        onmouseout="this.style.background=''" value="{{ _('End exam') }}">
                    </form>
                    <button class="end-exam-button" style="font-weight: bold; border-radius: 4px; background: #CC0200; padding: 4px 12px; font-family: Segoe UI , Lucida Grande, Arial, sans-serif; font-size: 16px; margin: 0px; ">
                        End exam
                    </button>
                    {% else %}
                    <form action="{{ url('contest_leave', contest.key) }}" method="post"
                          class="contest-join-pseudotab unselectable button">
                        {% csrf_token %}
                        <input type="submit" class="leaving-forever" value="{{ _('Leave contest') }}">
                    </form>
                    {% endif %}
                {% elif not contest.disallow_virtual %}
                    {# Allow users to virtual join #}
                    <form action="{{ url('contest_join', contest.key) }}" method="post"
                          class="contest-join-pseudotab unselectable button">
                        {% csrf_token %}
                        <input type="submit" value="{{ _('Virtual join') }}" class="contest-join">
                    </form>
                {% endif %}
            {% else %}
                {# Allow users to leave the contest #}
                {% if is_in_contest %}
                    {% if contest.is_exam and not request.user.profile.current_contest.finished_at %}
                    <form action="{{ url('end_exam', contest.key) }}" method="post" style="background: #cc0202; display: none"
                          class="contest-join-pseudotab unselectable button">
                        {% csrf_token %}
                        <input type="submit" class="end-exam" style="padding: 6px 0px;" onmouseover="this.style.background='none'"
                         onmouseout="this.style.background=''" value="{{ _('End exam') }}">
                    </form>
                    <button class="end-exam-button" style="font-weight: bold; border-radius: 4px; background: #CC0200; padding: 4px 12px; font-family: Segoe UI , Lucida Grande, Arial, sans-serif; font-size: 16px; margin: 0px; ">
                        {{ _('end_exam_btn') }}
                    </button>
                    {% else %}
                    <form action="{{ url('contest_leave', contest.key) }}" method="post"
                          class="contest-join-pseudotab unselectable button">
                        {% csrf_token %}
                        <input type="submit" value="
                            {%- if request.participation.spectate %}
                                {{- _('Stop spectating') -}}
                            {% else %}
                                {{- _('Leave contest') -}}
                            {% endif %}">
                    </form>
                    {% endif %}
                {% elif is_editor or is_tester or live_participation.ended %}
                    <form action="{{ url('contest_join', contest.key) }}" method="post"
                          class="contest-join-pseudotab unselectable button">
                        {% csrf_token %}
                        <input type="submit" value="{{ _('Spectate contest') }}" class="contest-join">
                    </form>
                {% else %}
                    {% if contest.can_join and (has_joined or not contest.require_registration or contest.can_register) %}
                        <form action="{{ url('contest_join', contest.key) }}" method="post"
                            class="contest-join-pseudotab unselectable button">
                            {% csrf_token %}
                            <input type="submit"
                                class="contest-join{% if not has_joined %} first-join{% endif %}"
                                value="{{ _('Join contest') }}">
                        </form>
                    {% elif contest.can_register and not has_joined %}
                        <form action="{{ url('contest_register', contest.key) }}" method="post"
                            class="contest-join-pseudotab unselectable button" style="background: linear-gradient(to bottom, #87ab69 0, #4b6043 100%) repeat-x">
                            {% csrf_token %}
                            <input type="submit"
                                class="register-warning"
                                value="{{ _('Register') }}">
                        </form>
                    {% endif %}
                {% endif %}
            {% endif %}
            <div id="end-exam-modal" class="featherlight" style="display:none;">
                <div class="featherlight-content">
                    <span class="featherlight-close-icon featherlight-close cancel-end-exam" style="padding:6px">✕</span>
                    <p style="color: #ff0000;font-weight: bold;">
                        {{ _('Are you sure you want to end the exam?') }}
                    </p>
                    <p>
                        {{ _('After ending the exam, your submissions will not be counted toward the contest score.') }}
                    </p>
                    <hr>
                    <p>{{ gettext('Type "%(name)s" to confirm:', name=request.profile.display_name) }}</p>
                    <input type="text" id="confirm-name" placeholder="{{ request.profile.display_name }}" style="padding:8px; width:100%; margin-bottom:10px;">
                    <div class="flex" style="justify-content: space-between;">
                        <button id="confirm-end" disabled style="background: gray;cursor: default; padding: 4px 17px; font-weight: 600; border-radius: 5px;">
                            {{ _('confirm_end_exam_yes') }}
                        </button>
                        <button class="cancel-end-exam" style="padding: 4px 17px; font-weight: 600; border-radius: 5px;">
                            {{ _('confirm_end_exam_no') }}                        
                        </button>
                    </div>
                </div>
            </div>
        {% endif %}
    {% elif (contest.can_join and not contest.require_registration) or contest.can_register %}
        <form action="{{ url('auth_login') }}" method="get"
              class="contest-join-pseudotab unselectable button">
            <input type="hidden" name="next" value="{{ LOGIN_RETURN_PATH|urlencode }}">
            <input type="submit" value="{{ _('Log in to participate') }}">
        </form>
    {% endif %}
{% endblock %}
